.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  header.small > h2 {
    right: 110px;
  }

  #main_presentation {
    margin-top: 0;
  }

  #main_presentation > section > div:nth-child(1) {
    position: relative;
    width: 116px;
    float: left;
  }

  #main_presentation > section > div:nth-child(2) {
    overflow: visible;
    position: relative;
    left: 0;
  }
  
  #main_photo {
    overflow: hidden;
    height: 150px;
    width: 100px;
    margin-top: 0;
    border: 2px solid #333
  }
  
  #main_photo > img {
    margin-left: -35px;
    width: 150px;
    height: 150px;
  }

  ul.download {
    padding: 0;
    margin: 0;
  }

  ul.download li {
    line-height: 40px;
    margin-top: 5px;
  }
}

@media (max-width: 520px) {
  header > h1 {
    float: left;
    font-size: 28px;
    margin: 15px 0px 0px 15px;
  }
  
  header > h1::before {
    display: none;
  }

  header nav > ul > li > a {
    width: 85px; height:35px;
  }

  section > h2 {
    padding-top: 0px;
    margin-bottom: 10px;
  }
  
  body {
    font-size: 0.9em;
  }
  
  div.tiles {
    width: 100%;
  }
  div.tiles > div {
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: block;
    vertical-align: bottom;
    box-shadow: 0 0 5px #999;
    text-align: left;
  }
  
  div.tiles > div > span {
    background-image: url('/assets/tile_bckgrd.png');
    float: left;
    padding: 5px 10px;
    margin-right: 5px;
  }
  div.tiles > div > p {
    position: static;
    text-align: left;
  }
  
  footer {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #main_presentation h2 {
    padding-top: 0;
  }

  .intro-col {
    width: 100%;
  }

  .intro-col, .intro-col.double {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header.small > h2 {
    display: none;
  }
}