
header > h1::before {
  content: url('../assets/avatar3.png');
  width: 30px;
  height: 30px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  border-radius: 20px;
  display: block;
  margin-bottom: -8px;
  margin-left: -60px;
}

#main_presentation {
  margin-top: 100px;
  height: 100%;
}

#main_presentation h2 {
  padding-top: 30px;
  font-size: 1.4em;
  border-bottom: none;
  margin-bottom: 30px;
  line-height: 1.1em;
}

#main_presentation p {
  margin: 0;
  text-align: justify;
  line-height: 1.4em;
}

#main_presentation > section {
  position: relative;
  height: 100%;
}

#main_presentation > section > div:nth-child(1) {
  position: absolute;
  width: 204px;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
}

#main_presentation > section > div:nth-child(2) {
  position: absolute;
  width: auto;
  overflow: hidden;
  left: 220px;
  right: 0;
  top: 0;
  bottom: 0;
}

#main_photo {
  overflow: hidden;
  height: 300px;
  width: 200px;
  margin-top: 80px;
  border: 2px solid #333
}

#main_photo > img {
  margin-left: -65px;
  width: 300px;
  height: 300px;
}

.intro {
  margin: 30px 0 50px 0;
}

ul.download {
  float: right;
}

ul.download li {
  list-style-type: none;
  background-color: #FF6B25;
  margin: 15px 5px 0 0;
  display: inline;
  width: 120px;
  padding: 8px;
  color: white;
  text-align: center;
  padding-right: 25px;
}

ul.download li:hover {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
}

ul.download li a {
  color: white;
}

div.demos_android {
  width: 427px;
  height: 845px;
  background-image: url("../assets/Android_WVGA800_p.png");
  background-size: 427px 845px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transform-origin: 50% 0;

  float: left;
  z-index: 1;
}

div.demos_android > iframe {
  width: 360px;
  height: 576px;
  position: relative;
  border: none;
  margin-top: 125px;
  margin-left: 34px;
}

div.demos_ios {
  width: 379px;
  height: 797px;
  background-image: url("../assets/iphone5.png");
  background-size: 379px 797px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  
  float: left;
  z-index: 1;
}

div.demos_ios > iframe {
  width: 320px;
  height: 568px;
  position: relative;
  border: none;
  margin-top: 118px;
}

div.demos_big_screen {
  width: 800px;
  height: 600px;  
  float: left;
  z-index: 1;
}

div.demos_big_screen > iframe {
  width: 800px;
  height: 600px;  
  position: relative;
  border: none;
  margin-top: 50px;
}

ul.demo_selector {
  float: right;
  padding: 0;
  margin: 0;
}

ul.demo_selector > li {
  list-style: none;
  background-color: #FF6B25;
  margin: 0 0 8px 0;
  display: block;
  width: 150px;
  padding: 8px;
  color: white;
  text-align: center;
}

ul.demo_selector> li:active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  outline: none;
}

ul.demo_selector > li:hover {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
}


@media (max-width: 620px) {
  div.demos_ios,
  div.demos_android {
    display: none !important;
  }
  
  ul.demo_selector {
    width: 100%;
  }
  
  ul.demo_selector > li {
    width: 100%;
  }
}