    <header>
      <h1><a href="index.html">David Thevenin</a></h1>
      <div class="inner">
        <nav>
          <ul>
            <li class="">
              <a href="vsd.html" class="link-active">VSD</a>
            </li>
            <li class="">
              <a href="vs_toolkit.html" class="link-active">VS Toolkit</a>
            </li>
            <li class="">
              <a href="animated_transition.html" class="">Animated Transition</a>
            </li>
            <li class="">
              <a href="gl_ui.html" class="">Gl UI</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
