  <script type="text/javascript" src="https://dthevenin.github.com/javascripts/highlight.pack.js"></script> 
  <link rel="stylesheet" href="https://dthevenin.github.com/stylesheets/index.css" media="screen" />
  <link rel="stylesheet" href="https://dthevenin.github.com/stylesheets/vs.css">
  <link rel="stylesheet" href="https://dthevenin.github.com/stylesheets/bender.css">
  <link rel="stylesheet" href="css/doc.css">
  <link rel="stylesheet" href="https://dthevenin.github.com/stylesheets/index-responsive.css" media="screen" />
  <link rel="stylesheet" href="css/zenburn.css" media="screen" />
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
