
@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/font/roboto-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eee;
  color: rgb(51, 51, 51);
  font-size: 16px;
  background-color: white;
  background-repeat: repeat-x repeat-y;
  font-family: Roboto-Light, Arial, Tahoma, sans-serif;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-11 {
  width: 91.66666666666666%;
}

.col-xs-12 {
  width: 100%;
}


@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
}



































.navbar-wrapper {
  background-color: #21242c;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
}

.navbar {
  margin-bottom: 0px;
  min-height: 47px;
}

.navbar-nav {
  float: none;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand::before {
  content:url("/images/smallLogo.png");
  width: 32px;
  height: 25px;
  float:left;
  margin-top: -8px;
}

.navbar .nav {
  float: none;
  display: block;
}

.navbar .nav > li > a {
  line-height: 16px !important;
  border: none !important;
  border-radius: none !important;
}

.navbar .nav > li {
  border-radius: 0px !important;
}

.navbar-inverse .nav > li > a {
  border: none;
}

.navbar-inverse .navbar-brand {
  border-radius: 0px;
  border: none;
  line-height: 26px;
}

#myCarousel {
  border: 4px #999 solid;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 1px 1px 4px 2px #777;
  text-shadow: none;
}

#myCarousel .carousel-inner {
  border: 2px #999 solid;
  border-radius: 3px;
}

article {
  margin: 20px 0px;
}

.feature_main_section {
  border-bottom: 8px solid #222;
  position: relative;
}

.feature_main_section .images {
  padding: 0px;
  margin: 0px;
  position:absolute;
  bottom: 0px;
  right: 0px;
}

.feature_main_section .images >img {
  margin-right: 2%;
  width: 22%;
}

.hero-unit {
  background-color: transparent;
  border-radius: 0px;
  padding: 50px 0px 10px 0px;
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.hero-unit h1 {
  font-size: 40px;
  text-shadow: 1px 1px 3px black;
}

.nav {
  font-weight: bold;
}

h1 {
  color: #000;
  font: 500 46px/46px "ff-meta-web",Arial,Helvetica,sans-serif;
  letter-spacing: -0.023em;
  margin-bottom: 20px;
}

h1 strong {
    font-family: "ff-meta-web-pro",Arial,Helvetica,sans-serif;
    font-weight: 700;
}

hr {
    border-top: 1px solid #ddd;
}

.icon-bookmark {
  font-size: 40px;
  position:relative;
  left:-10px;
  top:-20px;
}

a {
  color: #333;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus,
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #FF6B25;
  text-decoration: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
  padding-top: 0px;
}

h2 > img {
  margin-top: -15px;
}

p {
  font-size: 17px;
  line-height: 1.4;
}

.icon-github  {
	font-size: 25px;
	width: 30px;
}

.social {
  color: #666;
  font-size: 22px;
}

.topBar {
  background-color: transparent;
  background-image: none;
  background-image: url("/images/headBkg.png");
  background-repeat: repeat-x;
  height: 60px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;

  box-shadow: none;
  margin-bottom: -60px;
}

.lead {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
  color: #4b4b4b;
  font-family: "ff-meta-web-pro",Arial,Helvetica,sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  text-align: center;
}

.masthead .navbar-brand {
  padding: 12px 0px 0px 0px;
  border: none;
  color: rgb(51, 51, 51);
  text-shadow: 1px 1px 1px #fff;
  font-size: 25px;
}

.masthead .navbar-brand a {
  text-decoration: none;
  color: #333;
}
.masthead .navbar-brand a:hover {
  color: #333;
}

.masthead .nav > li > a,
.masthead .nav > li > a:hover {
  padding: 10px 20px 15px;
  border: none;
  background-color: transparent;;
  background-image: none;
  text-shadow: 1px 1px 1px #fff;
  color: rgb(51, 51, 51);
  font-size: 18px;
  border-radius: 0px;
}

.masthead .nav > li > a:hover {
  text-shadow: 1px 1px 1px #000;
  color: white;
}

.masthead .nav > li.active > a,
.masthead .nav > li.active > a:hover {
  border: none;
  border-bottom: 2px solid #333;
  background-color: transparent;;
  background-image: none;
  color: rgb(51, 51, 51);
}

.masthead .nav > li.active > a:hover {
  text-shadow: 1px 1px 1px #000;
  color: white;
}

.main_feature h2 {
  margin: -7px 0 6px 0;
  font-size: 25.5px;
  color: black;
}

/*hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('/images/hr.png') 50% 0 no-repeat;
}*/

.btn.btn-xs [class^="icon-"], .btn.btn-xs [class*=" icon-"] {
  margin-top: 0.3em;
  height: 1em;
  margin-left: 0.3em;
}

.btn.btn-xs {
  padding: 6px 10px 4px;
  margin-left: 0.3em;
}

.btn-lg [class^="icon-"], .btn-lg [class*=" icon-"] {
  margin: 0.1em;
  margin-right: 10px;
}

.btn-lg,
.btn-lg:hover {
  text-decoration: none;
}

#nav_launch_app {
  float: right;
  margin-top: 7px;
  padding: 6px 15px;
  font-size: 14.5px;
  box-shadow: none;
  border-radius: 0px;
}

#nav_launch_app:hover {
  background-color: #0088cc;
  background-image: none;
}

#nav_launch_app:active {
  background-color: #006dcc;
  background-image: none;
}

.row.changes_log > div {
  border-left: 1px solid #333;
}

.row.changes_log > div > div {
  padding-left: 10px;
}

.row.changes_log > div > div::before {
  content: 'â—';
  float: left;
  font-size: 18px;
  margin-top: 0px;
  margin-left: -17px;
}

.partners {
  background: #333;
  background-image: url(/images/dot.png);
  text-shadow: none;
}

.partners h3 {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 17px;
  color: white;
  text-shadow: none;
  margin: 0 0 10px 0;
  padding: 0;
}

/*article.main {
  background-color: white;
  border: 1px solid #aaa;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 0 2px 3px #ddd;
  margin-left: 10px;
  margin-right: 10px;
}*/

footer {
  background: #333;
  background-image: url(/images/dot.png);
  text-shadow: none;
  color: white;
  padding: 5px;
}

footer > p {
  margin: 0px;
}

@media (max-width: 767px) {
  body {
    padding: 0px;
  }

  .feature_main_section .images {
    position: inherit;
    padding-left: 30px;
  }

  .container {
    padding: 0 10px;
  }

  .feature_imgaes {
    display: none;
  }

  .feature_main_section .images {
    width: 300px;
    margin: 0 auto;
    padding-left: 20px
  }

  .feature_main_section .images > img {
    width: 85px;
  }
}

.screenshots_shadow {
  display: block;
  margin: 0 auto;
  padding: 37px 119px 50px 119px;
  text-align: center;
  position: relative;
}

.drop-shadow {
  position:relative;
  padding:10px;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.drop-shadow p {
  font-size:16px;
  font-weight:bold;
}

/* Lifted corners */

.lifted {
  -moz-border-radius:4px;
       border-radius:4px;
}

.lifted:before,
.lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
          box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
     -moz-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
       -o-transform:rotate(-3deg);
          transform:rotate(-3deg);
}

.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
     -moz-transform:rotate(3deg);
      -ms-transform:rotate(3deg);
       -o-transform:rotate(3deg);
          transform:rotate(3deg);
}

/* Curled corners */

.curled {
  border:1px solid #efefef;
  -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
       border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
  bottom:12px;
  left:10px;
  width:50%;
  height:55%;
  max-width:200px;
  max-height:100px;
  -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
     -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
          box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
  -webkit-transform:skew(-8deg) rotate(-3deg);
     -moz-transform:skew(-8deg) rotate(-3deg);
      -ms-transform:skew(-8deg) rotate(-3deg);
       -o-transform:skew(-8deg) rotate(-3deg);
          transform:skew(-8deg) rotate(-3deg);
}

.curled:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
     -moz-transform:skew(8deg) rotate(3deg);
      -ms-transform:skew(8deg) rotate(3deg);
       -o-transform:skew(8deg) rotate(3deg);
          transform:skew(8deg) rotate(3deg);
}

/* Curved shadows */

.curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.curved-vt-2:before {
  right:0;
}

.curved-hz-1:before {
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -webkit-border-radius:100px / 10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.curved-hz-2:before {
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -webkit-border-radius:100px / 10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.raised {
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.dbl_raised {
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 -15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 -15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 -15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.main_image {
  /*width: 100%;*/
  margin: 0 auto;
  position: relative;
}

.main_image img {
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px; left: 0px;
}

.main_image .tips {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px; left: 0px;
}

.main_image .tips > a:nth-of-type(1) {
  top: 48px; left: 486px;
}

.main_image .tips > a:nth-of-type(2) {
  top: 15px; left: 452px;
}

.main_image .tips > a:nth-of-type(3) {
  top: 36px; left: 66px;
}

.main_image .tips > a:nth-of-type(4) {
  top: 310px; left: 60px;
}

.main_image_tooltip {
  width: 10px; height: 10px;
  border-radius: 5px;
  background-color: red;
  display: block;
  position: absolute;
}

.main_image_tooltip > div {
  border: 2px solid red;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 14px;
  width: 14px;
  position: absolute;
  left:-4px;
  top:-4px;
  display: none;
}

.main_image:hover .main_image_tooltip > div {
  display: block;
}

.main_image:hover .main_image_tooltip > div {
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: pulsate;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;

  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% { -webkit-transform: scale(1); opacity: 0.0}
  10% { -webkit-transform: scale(1.1); opacity: .20}
  20% { -webkit-transform: scale(1.15); opacity: .40 }
  30% { -webkit-transform: scale(1.2); opacity: .60 }
  40% { -webkit-transform: scale(1.25); opacity: .80 }
  50% { -webkit-transform: scale(1.3); opacity: 1.0}
  60% { -webkit-transform: scale(1.35); opacity: .80}
  70% { -webkit-transform: scale(1.4);  opacity: .60}
  80% { -webkit-transform: scale(1.45);  opacity: .40}
  90% { -webkit-transform: scale(1.5);  opacity: .20}
  100% { -webkit-transform: scale(1.55);  opacity: 0.0}
}

@-moz-keyframes pulsate {
  0% { -moz-transform: scale(1); opacity: 0.0}
  10% { -moz-transform: scale(1.1); opacity: .20}
  20% { -moz-transform: scale(1.15); opacity: .40 }
  30% { -moz-transform: scale(1.2); opacity: .60 }
  40% { -moz-transform: scale(1.25); opacity: .80 }
  50% { -moz-transform: scale(1.3); opacity: 1.0}
  60% { -moz-transform: scale(1.35); opacity: .80}
  70% { -moz-transform: scale(1.4);  opacity: .60}
  80% { -moz-transform: scale(1.45);  opacity: .40}
  90% { -moz-transform: scale(1.5);  opacity: .20}
  100% { -moz-transform: scale(1.55);  opacity: 0.0}
}

@keyframes pulsate {
  0% { transform: scale(1); opacity: 0.0}
  10% { transform: scale(1.1); opacity: .20}
  20% { transform: scale(1.15); opacity: .40 }
  30% { transform: scale(1.2); opacity: .60 }
  40% { transform: scale(1.25); opacity: .80 }
  50% { transform: scale(1.3); opacity: 1.0}
  60% { transform: scale(1.35); opacity: .80}
  70% { transform: scale(1.4);  opacity: .60}
  80% { transform: scale(1.45);  opacity: .40}
  90% { transform: scale(1.5);  opacity: .20}
  100% { transform: scale(1.55);  opacity: 0.0}
}

.tooltip {
  text-shadow: none;
}

article:nth-of-type(1){
  margin-top: 30px;
}

@media (min-width: 767px) and (max-width: 992px) {

  .feature_main_section .images {
    width: 340px;
    margin: 0 auto;
    padding-left: 20px;
    position: inherit;
  }

  .feature_main_section .images img {
    width: 100px;
  }
}

@media (max-width: 767px) {

  article:nth-of-type(1){
    margin-top: 30px;
  }

  .main_image {
    width: 77%;
  }

  .main_image .main_image_tooltip {
    display: none;
  }
}

.main_image .tooltip {
}

.main_image .tooltip .tooltip-inner {
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
  background-color: #FF6B25;
}

.main_image .tooltip .tooltip-arrow {
  border-top-color: #FF6B25; 
}

.main_image .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.email_subscribe {
  margin: 0 auto;
  width: 390px;
}

.well {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  padding: 15px;
  font-size: 16px;
}

.well > p {
  margin: 0px;
  padding: 0px;
  color: white;
}

ul {
  margin-top: 15px;
}


.no-border-radius {
  border-radius: 0px;
}

.white-text {
  color: white;
}

.black {
  background-color: black;
}

.blue {
  background-color: #518F9B;
}

.violet {
  background: #7e7392;
}

.grey {
  background: #888A8F
}
.orange {
  background-color: #FF6B25;
}
.app-col-md-10 {
  width: 80%;
  display: inline-block;
  padding: 0px;
}
.app-col-md-2 {
  width: 4%;
  display: inline-block;
  padding: 0px;
}
